@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(4,4,12);
}

.btn-primary{
  background: linear-gradient(180deg, rgb(91, 33, 182), rgb(168, 85, 247));
}

.btn-primary:hover{
  background: linear-gradient(180deg, rgb(76, 21, 165), rgb(150, 56, 237));
}

@media screen and (max-width:1280px){
  .top-nav{
    margin-left: 0;
  }
  .nav-show{
    padding: 20px 10px;
    position: fixed;
    overflow-y: scroll;
    margin-top: -1rem;
    height: 100vh;
    transition: transform 0.2s ease-in;
    transform: translateX(-300px);
  }
  .show{
    transform: translateX(0)!important;
  }
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield;
}

/* For styling in some browsers, like Safari */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 00c882 */
/* 015379 */
/* rgb(22,25,42) */
/* #b45ff3 */
/* #6145f6 */