@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(4,4,12);
}

@media screen and (max-width:1280px){
  .top-nav{
    margin-left: 0;
  }
  .nav-show{
    padding: 20px 10px;
    position: absolute;
    margin-top: -1rem;
    height: 100vh;
    transition: transform 0.2s ease-in;
    transform: translateX(-300px);
  }
  .show{
    transform: translateX(0)!important;
  }
}

/* 00c882 */
/* 015379 */
/* rgb(22,25,42) */
/* #b45ff3 */
/* #6145f6 */